In [2]:
# Import Depencies

import pandas as pd
import polars as pl
import requests
from pprint import pprint
from requests.structures import CaseInsensitiveDict

from apikey import apikey

# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Section for user input. 
# Create empty variables to let the user input coordinates. Create city/coordinate options for users who do not want to input their own coordinates.
lat = ''
lon = ''

default = [0, 0]
cleveland = [41.4993, -81.6944]
atlanta = [33.7488, -84.3877]
los_angeles = [34.0549, -118.2426]
new_york_city = [40.7128, -74.0060]
chicago = [41.8781, -87.6298]
seattle = [47.6061, -122.3328]

# Set up variable for user to search for their own coordinates. User_defined or written to pre-determined
location_search = [123456789,123456789] 

# Create list of cities with pre-written coordinates
default_city_list =  {'Cleveland' : cleveland , 'Atlanta' : atlanta, 'Los Angeles' : los_angeles, 'New York City' : new_york_city, 'Chicago' : chicago, 'Seattle' : seattle}

# Display cities for user to consider pre-written options
print('Available list of cities\n')
for k, v in default_city_list.items():
    print(k)

Available list of cities

Cleveland
Atlanta
Los Angeles
New York City
Chicago
Seattle

In [5]:
# Ask user for input on if they would like to pick from pre-written cities
user_coordinates = input("Would you like pick from a list of available cities? yes or no")

# If they choose to use a pre-written city, have the user pick a city from the pre-written list
if user_coordinates.lower() == 'y' or user_coordinates.lower() == 'yes':

    match = input("Please pick a city from the list.\n")

    for k, v in default_city_list.items():
        if match.lower() == k.lower():
            location_search = v

# If the user does not want to pick from the pre-written list, allow them to input their own coordinates
elif user_coordinates.lower() == 'n' or user_coordinates.lower() == 'no':
    user_lat = input("Please enter the latitude. ")
    user_lon = input("Please enter the longitude. ")
    location_search = [float(user_lat), float(user_lon)]

# Let the user know that their only options are to pick from the list or not pick from the list
else:
    raise Exception("Invalid Input. Must specify Yes (y) or No (n)")

# Make sure the location search is filled in with city coordinates every time
if location_search == [123456789, 123456789]:
    raise Exception("Invalid location. Use a name that is in the list, or choose No (n) your own coordinates.")

# Display the coordinates that will be used in the location search    
print(f'Using coordinates {location_search}\n')

Using coordinates [34.0549, -118.2426]

In [6]:
# Set search parameters as default values, except for the country code which will be filled in later
radius_meters = 5000
country_code = ''
limit = 100
offset = 0 #default is zero


# Set the filter to search for locations within the parameters
location_filter = f'circle:{location_search[1]},{location_search[0]},{radius_meters}'

# Keep for future flexibility
if country_code != "":
    country_code = country_code + f"|countrycode:{country_code}"

# Format headers to be used later
headers = CaseInsensitiveDict()
headers["Accept"] = "application/json"

In [7]:
# Create list of categories to be filled in to filter data in search.
# any category can be added - it must also be added to category_dict

category_string = ""

activity = True
commercial = True
commercial_catering = False
commercial_supermarket = True
internet_access = False
accomodations = False
entertainment = True
leisure = False
parking = False
tourism = False
wheelchair = False
dogs = False
vegetarian = False
vegan = False
gluten_free = False
organic = False

In [8]:
# Create dictionary to house each category that will be captured
category_dict = {'activity' : activity, 'commercial' : commercial, 'commerical.catering' : commercial_catering, 'accomodation' : accomodations, \
                        'entertainment' : entertainment, 'leisure': leisure, 'parking' : parking, 'wheelchair.yes' : wheelchair, 'internet_access' : internet_access, \
                            'dogs': dogs, 'vegetarian': vegetarian, 'vegan' : vegan, 'gluten_free': gluten_free, 'organic' : organic, 'tourism': tourism}

# Set up string to input categories to add to base url
string_of_categories = ""

# Capture the key for each category we want to include in the search
for k,v in category_dict.items():
    if v:
        string_of_categories = string_of_categories + k + ','

# Remove last comma
string_of_categories = string_of_categories[:-1]

# API string built for flexibility
url2 = f"https://api.geoapify.com/v2/places?categories={string_of_categories}&filter={location_filter}&limit={limit}&offset={offset}&apiKey={apikey}"

In [9]:
# Search API / get API dictionary
resp = requests.get(url2, headers=headers)

# View response status to see if search was successful
print(resp.status_code)

# Store the response to manipulate data received
json_info = resp.json()

200

In [10]:
# View first response, only for debugging, may be commented out later
pprint(json_info["features"][0])

{'type': 'Feature',
 'properties': {'name': 'Boyle Heights Senior Citizen Center',
  'country': 'United States',
  'country_code': 'us',
  'state': 'California',
  'county': 'Los Angeles County',
  'city': 'Los Angeles',
  'postcode': '90023',
  'suburb': 'Boyle Heights',
  'street': 'East 3rd Street',
  'housenumber': '2839',
  'lon': -118.20535392474228,
  'lat': 34.039055149999996,
  'state_code': 'CA',
  'formatted': 'Boyle Heights Senior Citizen Center, 2839 East 3rd Street, Los Angeles, CA 90023, United States of America',
  'address_line1': 'Boyle Heights Senior Citizen Center',
  'address_line2': '2839 East 3rd Street, Los Angeles, CA 90023, United States of America',
  'categories': ['activity',
   'activity.community_center',
   'building',
   'building.public_and_civil'],
  'details': ['details', 'details.building', 'details.contact'],
  'datasource': {'sourcename': 'openstreetmap',
   'attribution': '© OpenStreetMap contributors',
   'license': 'Open Database Licence',
   'url': 'https://www.openstreetmap.org/copyright',
   'raw': {'ele': 100.1,
    'fax': '+1-213-485-7143',
    'name': 'Boyle Heights Senior Citizen Center',
    'email': 'boyleheights.seniorcenter@lacity.org',
    'phone': '+1-323-264-5757',
    'height': 7.3,
    'osm_id': 419942331,
    'amenity': 'community_centre',
    'website': 'https://www.laparks.org/scc/boyle-heights',
    'building': 'yes',
    'operator': 'City of Los Angeles',
    'osm_type': 'w',
    'addr:city': 'Los Angeles',
    'addr:state': 'CA',
    'addr:street': 'East 3rd Street',
    'lacounty:ain': 5180013900,
    'addr:postcode': 90023,
    'opening_hours': 'Mo-Fr 08:30-16:00',
    'lacounty:bld_id': 2014092844490000,
    'addr:housenumber': 2839}},
  'place_id': '51e64ee384248d5dc059b8917ebfff044140f00102f901bbcf071900000000920323426f796c6520486569676874732053656e696f7220436974697a656e2043656e746572'},
 'geometry': {'type': 'Point',
  'coordinates': [-118.2053539485747, 34.03905481033456]}}

In [11]:
# Create error checking to make sure it is only US locations. String split is based on US cities.
# Do this to prevent the code from stalling with cities in other countries which have differently formatted data
if json_info["features"][0]["properties"]["country_code"] != 'us':
    raise Exception('This process is built for US cities only.')

In [12]:
# Create dataframe from the stored json response from the API search
features_pd = pd.json_normalize(json_info["features"])

In [13]:
# Create dataframe which will become the first table in the future database. Only take categories which hold address and location information as columns for new df
properties_df = features_pd[["properties.address_line1", "properties.address_line2", "properties.place_id"]]

In [14]:
# Rename columns
properties_df = properties_df.rename(columns = {"properties.address_line1": "Property", "properties.address_line2": "Address2", "properties.place_id": "Place_ID"})

# View dataframe to see if this was successful, may be commented out once confirmed
#properties_df

In [15]:
# View top of new dataframe to see what we are working with and decide next steps
properties_df.head(5)

,Property,Address2,Place_ID
0,Boyle Heights Senior Citizen Center,"2839 East 3rd Street, Los Angeles, CA 90023, U...",51e64ee384248d5dc059b8917ebfff044140f00102f901...
1,Subliminal Projects,"1331 Sunset Boulevard, Los Angeles, CA 90026, ...",516256f42609905dc059023122d13f094140f00102f901...
2,Mush,"1617 Silver Lake Boulevard, Los Angeles, CA 90...",51cd2231343c915dc05987726c74540b4140f00102f901...
3,Associated of Los Angeles,"2585 East Olympic Boulevard, Los Angeles, CA 9...",51edd3ca0b3c8e5dc059b4a1c92051034140f00102f901...
4,The Broad Museum,"221 South Grand Avenue, Los Angeles, CA 90012,...",51da90e9b909905dc0590f09aa73f8064140f00102f901...

In [16]:
# Create new separate columns for the address fields from the renamed address column
properties_df[['Address', 'City', 'State_Zip', 'Country']] = properties_df.Address2.str.split(",", expand = True)

In [17]:
# View top of dataframe to confirm process was successful
properties_df.head(5)

,Property,Address2,Place_ID,Address,City,State_Zip,Country
0,Boyle Heights Senior Citizen Center,"2839 East 3rd Street, Los Angeles, CA 90023, U...",51e64ee384248d5dc059b8917ebfff044140f00102f901...,2839 East 3rd Street,Los Angeles,CA 90023,United States of America
1,Subliminal Projects,"1331 Sunset Boulevard, Los Angeles, CA 90026, ...",516256f42609905dc059023122d13f094140f00102f901...,1331 Sunset Boulevard,Los Angeles,CA 90026,United States of America
2,Mush,"1617 Silver Lake Boulevard, Los Angeles, CA 90...",51cd2231343c915dc05987726c74540b4140f00102f901...,1617 Silver Lake Boulevard,Los Angeles,CA 90026,United States of America
3,Associated of Los Angeles,"2585 East Olympic Boulevard, Los Angeles, CA 9...",51edd3ca0b3c8e5dc059b4a1c92051034140f00102f901...,2585 East Olympic Boulevard,Los Angeles,CA 90021,United States of America
4,The Broad Museum,"221 South Grand Avenue, Los Angeles, CA 90012,...",51da90e9b909905dc0590f09aa73f8064140f00102f901...,221 South Grand Avenue,Los Angeles,CA 90012,United States of America

In [18]:
# Drop any rows with empty values
properties_df = properties_df.dropna()

In [19]:
# Remove any spaces or whitespaces from data to more easily manipulate
properties_df["State_Zip"] = properties_df['State_Zip'].str.strip()

In [22]:
# Split State_Zip column into separate columns for the state and the zip code
properties_df[['State', 'Zip']] = properties_df.State_Zip.str.split(" ", expand = True)

In [23]:
# View top of dataframe to confirm process was successful
properties_df.head(5)

,Property,Address2,Place_ID,Address,City,State_Zip,Country,State,Zip
0,Boyle Heights Senior Citizen Center,"2839 East 3rd Street, Los Angeles, CA 90023, U...",51e64ee384248d5dc059b8917ebfff044140f00102f901...,2839 East 3rd Street,Los Angeles,CA 90023,United States of America,CA,90023
1,Subliminal Projects,"1331 Sunset Boulevard, Los Angeles, CA 90026, ...",516256f42609905dc059023122d13f094140f00102f901...,1331 Sunset Boulevard,Los Angeles,CA 90026,United States of America,CA,90026
2,Mush,"1617 Silver Lake Boulevard, Los Angeles, CA 90...",51cd2231343c915dc05987726c74540b4140f00102f901...,1617 Silver Lake Boulevard,Los Angeles,CA 90026,United States of America,CA,90026
3,Associated of Los Angeles,"2585 East Olympic Boulevard, Los Angeles, CA 9...",51edd3ca0b3c8e5dc059b4a1c92051034140f00102f901...,2585 East Olympic Boulevard,Los Angeles,CA 90021,United States of America,CA,90021
4,The Broad Museum,"221 South Grand Avenue, Los Angeles, CA 90012,...",51da90e9b909905dc0590f09aa73f8064140f00102f901...,221 South Grand Avenue,Los Angeles,CA 90012,United States of America,CA,90012

In [24]:
# Remove the address2 column now that the addresses have been separated into new columns
properties_df = properties_df.drop('Address2', axis=1)

In [25]:
# Remove the State_Zip column now that the state and zip code have been separated into new columns
properties_df = properties_df.drop('State_Zip', axis=1)

In [27]:
# Order the columns in the way in which we will put the data into the database
properties_df = properties_df.reindex(['Place_ID', 'Property', 'Address', 'City', 'State', 'Zip', 'Country'], axis=1)

In [28]:
# View top of dataframe to confirm process was successful
properties_df.head(5)

,Place_ID,Property,Address,City,State,Zip,Country
0,51e64ee384248d5dc059b8917ebfff044140f00102f901...,Boyle Heights Senior Citizen Center,2839 East 3rd Street,Los Angeles,CA,90023,United States of America
1,516256f42609905dc059023122d13f094140f00102f901...,Subliminal Projects,1331 Sunset Boulevard,Los Angeles,CA,90026,United States of America
2,51cd2231343c915dc05987726c74540b4140f00102f901...,Mush,1617 Silver Lake Boulevard,Los Angeles,CA,90026,United States of America
3,51edd3ca0b3c8e5dc059b4a1c92051034140f00102f901...,Associated of Los Angeles,2585 East Olympic Boulevard,Los Angeles,CA,90021,United States of America
4,51da90e9b909905dc0590f09aa73f8064140f00102f901...,The Broad Museum,221 South Grand Avenue,Los Angeles,CA,90012,United States of America

In [30]:
# Convert pandas dataframe to polars
properties_df_pl = pl.from_pandas(properties_df)

In [31]:
# View top of dataframe to confirm process was successful
properties_df_pl.head(5)

shape: (5, 7)
┌────────────────┬────────────────┬────────────────┬──────────────┬───────┬───────┬────────────────┐
│ Place_ID       ┆ Property       ┆ Address        ┆ City         ┆ State ┆ Zip   ┆ Country        │
│ ---            ┆ ---            ┆ ---            ┆ ---          ┆ ---   ┆ ---   ┆ ---            │
│ str            ┆ str            ┆ str            ┆ str          ┆ str   ┆ str   ┆ str            │
╞════════════════╪════════════════╪════════════════╪══════════════╪═══════╪═══════╪════════════════╡
│ 51e64ee384248d ┆ Boyle Heights  ┆ 2839 East 3rd  ┆  Los Angeles ┆ CA    ┆ 90023 ┆ United States  │
│ 5dc059b8917ebf ┆ Senior Citizen ┆ Street         ┆              ┆       ┆       ┆ of America     │
│ ff04…          ┆ Cen…           ┆                ┆              ┆       ┆       ┆                │
│ 516256f4260990 ┆ Subliminal     ┆ 1331 Sunset    ┆  Los Angeles ┆ CA    ┆ 90026 ┆ United States  │
│ 5dc059023122d1 ┆ Projects       ┆ Boulevard      ┆              ┆       ┆       ┆ of America     │
│ 3f09…          ┆                ┆                ┆              ┆       ┆       ┆                │
│ 51cd2231343c91 ┆ Mush           ┆ 1617 Silver    ┆  Los Angeles ┆ CA    ┆ 90026 ┆ United States  │
│ 5dc05987726c74 ┆                ┆ Lake Boulevard ┆              ┆       ┆       ┆ of America     │
│ 540b…          ┆                ┆                ┆              ┆       ┆       ┆                │
│ 51edd3ca0b3c8e ┆ Associated of  ┆ 2585 East      ┆  Los Angeles ┆ CA    ┆ 90021 ┆ United States  │
│ 5dc059b4a1c920 ┆ Los Angeles    ┆ Olympic        ┆              ┆       ┆       ┆ of America     │
│ 5103…          ┆                ┆ Boulevard      ┆              ┆       ┆       ┆                │
│ 51da90e9b90990 ┆ The Broad      ┆ 221 South      ┆  Los Angeles ┆ CA    ┆ 90012 ┆ United States  │
│ 5dc0590f09aa73 ┆ Museum         ┆ Grand Avenue   ┆              ┆       ┆       ┆ of America     │
│ f806…          ┆                ┆                ┆              ┆       ┆       ┆                │
└────────────────┴────────────────┴────────────────┴──────────────┴───────┴───────┴────────────────┘

In [32]:
# Create empty dataframe to hold data for the second table we would like to make that will house category data from the API search
category_table_df = pd.DataFrame(columns = ['Place_ID', 'Category'])

In [33]:
# Insert each row from the stored json response into categories dataframe
num_of_records = len(json_info['features'])

for i in range(num_of_records):
    place_id_var = json_info["features"][i]["properties"]["place_id"]

    for category in json_info["features"][i]["properties"]["categories"]:
        #print(j)
        new_row = {'Place_ID': place_id_var, 'Category': category}

        #https://stackoverflow.com/questions/75956209/error-dataframe-object-has-no-attribute-append
        category_table_df = category_table_df._append(new_row, ignore_index = True)

In [34]:
# Add index to category df
# https://stackoverflow.com/questions/12168648/how-to-add-a-column-with-values-1-to-lendf-to-a-dataframe
category_table_df["Index"] = range(1, len(category_table_df) + 1)

# View the top of the dataframe to make sure the column was added
category_table_df.head()

,Place_ID,Category,Index
0,51e64ee384248d5dc059b8917ebfff044140f00102f901...,activity,1
1,51e64ee384248d5dc059b8917ebfff044140f00102f901...,activity.community_center,2
2,51e64ee384248d5dc059b8917ebfff044140f00102f901...,building,3
3,51e64ee384248d5dc059b8917ebfff044140f00102f901...,building.public_and_civil,4
4,516256f42609905dc059023122d13f094140f00102f901...,building,5

In [35]:
# reorder columns
category_table_df = category_table_df[['Index', 'Place_ID', 'Category']]

In [36]:
# Convert to polars dataframe, display head of dataframe so that we can see if the process was successful
category_table_df_pl = pl.from_pandas(category_table_df)
category_table_df_pl.head(5)

shape: (5, 3)
┌───────┬───────────────────────────────────┬───────────────────────────┐
│ Index ┆ Place_ID                          ┆ Category                  │
│ ---   ┆ ---                               ┆ ---                       │
│ i64   ┆ str                               ┆ str                       │
╞═══════╪═══════════════════════════════════╪═══════════════════════════╡
│ 1     ┆ 51e64ee384248d5dc059b8917ebfff04… ┆ activity                  │
│ 2     ┆ 51e64ee384248d5dc059b8917ebfff04… ┆ activity.community_center │
│ 3     ┆ 51e64ee384248d5dc059b8917ebfff04… ┆ building                  │
│ 4     ┆ 51e64ee384248d5dc059b8917ebfff04… ┆ building.public_and_civil │
│ 5     ┆ 516256f42609905dc059023122d13f09… ┆ building                  │
└───────┴───────────────────────────────────┴───────────────────────────┘

In [38]:
# Create CSV file for address data to be imported to PostgreSQL from dataframes, use polars
# https://docs.pola.rs/user-guide/io/csv/
properties_df_pl.write_csv("../CSV Files/Addresses.csv", separator=",")

In [39]:
# Create CSV file for category data to be imported to PostgreSQL from dataframes, use polars
# https://docs.pola.rs/user-guide/io/csv/
category_table_df_pl.write_csv("../CSV Files/Categories.csv", separator=",")